WEBPHONE_SIP_DOMAIN=pbx.seudominio.com.br
WEBPHONE_WSS_URL=wss://pbx.seudominio.com.br:7443
WEBPHONE_ALLOW_MOCK=false
WEBPHONE_MOCK_PASSWORD=troque-esta-senha
FUSIONPBX_BRIDGE_URL=https://fusionpbx-bridge.internal
FUSIONPBX_BRIDGE_API_KEY=troque-esta-chave
VITE_DEMO_MODE=false
