{
    log default {
        format filter {
            request>headers>Authorization delete
            request>headers>Cookie delete
            request>headers>X-Realtime-Token delete
        }
    }
}

{$APP_DOMAIN} {
    encode zstd gzip

    header {
        -Server
        -X-Powered-By
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    reverse_proxy web:80
}
